<div id="header-user-profile">
    <div id="header-user-profile-click" class="noselect">
        <img src="assets/images/demo/user-profile.jpg" alt="Suzie">
        <div id="header-username">{{ user.email }}</div><i class="fas fa-angle-down"></i>
    </div><!-- close #header-user-profile-click -->
    <div id="header-user-profile-menu">
        <ul>
            <li><a href="dashboard-profile.html"><span class="icon-User"></span>My Profile</a></li>
            <li><a href="dashboard-favorites.html"><span class="icon-Favorite-Window"></span>My Favorites</a></li>
            <li><a href="dashboard-account.html"><span class="icon-Gears"></span>Account Details</a></li>
            <li><a href="#!"><span class="icon-Life-Safer"></span>Help/Support</a></li>
            <li><a href="" (click)="logout()"><span class="icon-Power-3"></span>Log Out</a></li>
        </ul>
    </div><!-- close #header-user-profile-menu -->
</div><!-- close #header-user-profile -->
